body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  cursor: pointer;
  outline: 0;
  border: none;
}

.container-fluid {
  max-width: 1920px;
  margin: auto;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1536px) {
  .container {
    padding: unset;
    width: 1200px;
  }
}